@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: Roboto, sans-serif;
}

#chart {
    margin: auto;
    width: 100%
}

.apexcharts-canvas {
    background-color: #202130
}

.chart-section {
    margin: 35px 90px
}