/* td {
  padding: 10px;
} */


.main-header {
  background-color: #fff;
  margin: 0 0 40px 0;
  height: 100px;
}


#candleStick {
  background-color: aqua;
  border-color: black;
  width: 1200px;
  max-width: 1200px;

}

#fiveTicks {
  background-color: bisque;
  border-color: black;
  width: 50%;
  height: 300px;

}

#sheets {
  background-color: aquamarine;
  border-color: black;
  width: 50%;
}

body {
  max-width: 1300px;
  margin: auto;
}

footer {
  height: 115px;

}

ul {
  list-style: none;
}

.footer-info {
  padding: 0
}