footer {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;

}

main {
  display: flex;
  flex: 1;
  justify-content: center
}

.main-header {
  display: flex;
}

#fiveTicks {
  display: flex;
  justify-content: space-around;
}

.blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.stockDetail,
.stockInfo,
.duration,
.price-section,
.quantity-section,
.newOrderbuttons,
#stockInfo-section {
  display: flex;
}

.price-section,
.quantity-section {
  flex-wrap: nowrap;
}

.stockInfo-leftBlock,
.stockInfo-rightBlock {
  width: 50%;
}