footer {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;

}

main {
  display: flex;
  flex: 1;
  justify-content: center
}

.main-header {
  display: flex;
}

#fiveTicks {
  display: flex;
  justify-content: space-around;
}

.fiveTicksAndSheets-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}